


.br {
    --angle : 0deg;

    height : fit-content;
    width : fit-content;

    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border style starts here */

    border-width: 6px;
    border-style : solid;
    border-radius: 6px;
    border-image : linear-gradient(var(--angle), gold, cyan, purple) 1;

    animation : 5s grad cubic-bezier(0, 0.64, 0.99, 0.53) infinite;


}

@keyframes grad {
    to {
        --angle : 360deg;
    }
}

@property --angle{
    syntax : '<angle>';
    initial-value : 0deg;
    inherits: false;
}
