.navbar {
  display: inline;
}
.navbar__nav {
  padding: 1rem;
}
.navbar__home, .navbar__about, .navbar__contact {
  font-weight: 600;
  color: black;
  border-bottom: 1px solid #15c8ff;
}
.navbar a {
  text-decoration: none;
  color: black;
}
.navbar ul {
  list-style: none;
}
.navbar li {
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
  font-family: "Arvo", serif;
  display: inline;
}

.br {
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  /* border style starts here */
  border-width: 6px;
  border-style: solid;
  border-radius: 6px;
  border-image: linear-gradient(0deg, gold, cyan, purple) 1;
  animation: 5s grad linear infinite;
}

@keyframes grad {}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #ffffff;
}

.header {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background: #d5f2fc;
}
.header__logo {
  height: 5rem;
  width: auto;
  border-radius: 50%;
}
.header__text {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: clamp(1rem, 6.5vw + 0.01rem, 3rem);
}

code {
  color: #24a8e6;
  background: #ffffff00;
}

.content {
  padding: 2rem;
}
.content .text-info {
  position: relative;
  font-weight: 600;
  font-style: italic;
}
.content__founders--text {
  text-align: center;
  font-weight: 900;
}
.content__founders--n1, .content__founders--n2 {
  display: flex;
  flex-direction: row;
  border-width: 3px;
  border-style: solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(45deg, #000000, #00ffc8);
}
