code {
  font-family: "Mukta", sans-serif;
  color: #14b1e6;
  background: #ffffff00;
}

.navbar {
  display: inline;
}
.navbar__nav {
  padding: 1rem;
}
.navbar__home, .navbar__about, .navbar__contact {
  font-weight: 600;
  color: black;
  border-bottom: 1px solid #14b1e6;
}
.navbar a {
  text-decoration: none;
  color: black;
}
.navbar ul {
  list-style: none;
}
.navbar li {
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
  font-family: "Arvo", serif;
  display: inline;
  font-size: clamp(1rem, 1.5vw + 0.01rem, 1.2rem);
}

::-webkit-scrollbar {
  scroll-behavior: smooth;
  width: 0.5rem;
  background-color: rgba(36, 36, 36, 0.226);
}
::-webkit-scrollbar-thumb {
  border-radius: 11rem;
  background-color: #d4f2fc;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #81defd;
}

.foot {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: normal;
  position: sticky;
  left: 0%;
  bottom: 0%;
  width: 100vw;
  margin-top: 1rem;
  background: #d4f2fc;
}
.foot__relink {
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: normal;
  gap: 4vw;
}
.foot__relink--head {
  font-family: "Red Hat Display", sans-serif;
}
.foot__relink > a {
  text-decoration: none;
  color: #016b8e;
}
.foot__relink > a:hover {
  color: #002533;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background: rgba(54, 54, 54, 0.616);
  color: #d4f2fc;
}

html {
  overflow-x: hidden;
}

body {
  background: #ffffff;
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  gap: 1rem;
  padding: 1rem;
  background: #d4f2fc;
}
.header__logo {
  height: 5rem;
  width: auto;
  border-radius: 50%;
}
.header__text {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: clamp(1rem, 6.5vw + 0.01rem, 3rem);
}

.content {
  padding: 0px 4px 0px 4px;
  font-size: clamp(1rem, 5.5vw + 0.3rem, 1.7rem);
}
.content__course--intro {
  font-size: clamp(1rem, 5.5vw + 0.3rem, 1.7rem);
}
.content__mail--id {
  color: #016b8e;
  text-decoration: none;
}
.content__course--grp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: normal;
  gap: 0.5rem;
  font-size: clamp(1rem, 5.5vw + 0.3rem, 1.7rem);
}
.content__course--grp-head {
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}
.content__course--grp-text {
  font-family: "Montserrat", sans-serif;
}
.content__ul {
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: center;
  gap: 0.4rem;
}
.content__br {
  gap: 1rem;
}
.content__br--list {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: normal;
  position: relative;
  left: 2.5vw;
  gap: 1.5vh;
}
.content__br--list > li {
  width: 90%;
  position: relative;
  left: 20px;
}
.content__br--head {
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}
.content__br--head-end {
  font-family: "Rubik", sans-serif;
  color: #016b8e;
}

.txt {
  font-weight: 600;
}

.content {
  font-size: clamp(1rem, 5.5vw + 0.3rem, 1.7rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content__live {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content__live--tgl {
  font-family: "Iceland", cursive;
  text-align: center;
}
.content__num1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: normal;
}
.content__num1 > code {
  font-family: "Iceland", cursive;
  color: #016b8e;
  font-size: larger;
}
