.navbar {
  display: inline;
}
.navbar__home, .navbar__about, .navbar__contact {
  font-weight: 600;
  color: black;
  border-bottom: 1px solid #15c8ff;
}
.navbar a {
  text-decoration: none;
  color: black;
}
.navbar ul {
  list-style: none;
}
.navbar li {
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
  font-family: "Arvo", serif;
  display: inline;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background: #d5f2fc;
}
.header__logo {
  height: 7rem;
  width: auto;
  border-radius: 50%;
}
.header__text {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: clamp(1rem, 7.5vw + 0.01rem, 3rem);
}

.content {
  padding: 2rem;
}
.content .text-info {
  position: relative;
  font-weight: 600;
  font-style: italic;
}
.content__founders {
  position: relative;
}
.content__founders--head {
  text-align: center;
  font-weight: 900;
}
.content__faculty {
  position: relative;
}
.content__faculty--head {
  text-align: center;
  font-weight: 600;
}
